.headerImg {
  text-align: center;
}
.flexCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  cursor: pointer;
}
.sizeSearchbar {
  display: flex;
  justify-content: center;
}
